# Logs
logs
*.log

# Dependency directories
node_modules/

# Webstorm IDE files
.idea

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Temp folder
/temp

# Dist folder
/dist
